<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Listastic!</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- include angular js -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		
		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="app/scripts/main-controller.js"></script>
		<link rel="stylesheet" href="app/content/css/main.css">
	</head>
	<body>
		<div class="container" ng-app="Listastic">
			<div ng-controller="mainController">
				<h1 id="heading" align="center"></h1> 
				<div class="top-right-corner button" ng-show="user != null">
					<button type="button" style="font-size: 16px; border-radius:4px;">Logout</button>
				</div>


				<div id="filters"> 
					<div id="ck-button" ng-repeat="tag in tags">
					<label> 
						<input type="checkbox" ng-value="tag"><span>{{ tag }} </span> 
					</label>
					</div>
				</div>

				<br><br><br>
				
				<div id="sort" ng-init="sort = 'createdDate' ">
					Sort by: 
					<select name="select-sort" ng-model="sort">
						<option ng-value="'createdDate'">Most Recently Created</option>
						<option ng-value="'-createdDate'">Least Recently Created</option>
						<option ng-value="'priority'">Priority</option>
						<option ng-value="'dueDate'">Due Date (newest first)</option>
					</select>
				</div>

				<br><br>
				
				<div id="add_new">
					<button ng-click="showTheForm = !showTheForm">Add a Task</button>
					<br><br>
					<form ng-show="showTheForm" ng-submit="addListItem()>
						<label>Name: <input type="text"/></label><br/>
						<label>Description: <input type="text"/></label><br/>			       
						<button type="button" ng-click="showTheForm = false">Cancel</button>
						<button>Submit</button>
					</form>
				</div>
				
				<br><hr>

				<div id="list">
					<div id="list-item" class="transbox" ng-repeat="item in todo | orderBy: sort">
						<p>Name: {{ item.name }}</p>
						<p>Description: {{ item.description }} </p>
						<p ng-show="item.location.length > 0">Location: {{ item.location }}</p>
						<p ng-show="item.dueDate.length > 0">Due Date: {{ item.dueDate | date:'medium' }} </p>
						<p ng-show="item.priority.length > 0">Priority: {{ item.priority }}</p>
						<p ng-show="item.tags.length > 0">
							Tags: <span ng-repeat="tag in item.tags">
								{{ tag + " "}}
							</span> 
						</p>

					</div>
				</div>

			</div>


		</div>
	</body>
</html>


