/* Below makes the filter buttons look like buttons instead of checkboxes  */
div label input {
    margin-right: 100px;
}

body {
    font-family: sans-serif;
}

#ck-button {
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    float: left;
}

#ck-button label {
    float: left;
    width: 4.0em;

}

#ck-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

#ck-button label input {
    position: absolute;
    top: -20px;
}

#ck-button input:checked + span {
    background-color: #911;
    color: #fff;
}

/* Below makes the logout button hover in the top right corner  */
.top-right-corner {
    position: absolute;
    top: 30px;
    right: 30px;
}

/* Below is for the box that the to do list items are in */
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.content {
    margin: auto;
    width: 80%;

    padding: 10px;
}

.row {
    padding-bottom: 10px;
}

.row label {
    font-weight: bold;
    padding-right: 40px;
}

.column-fourth {
    width: 25%;
    display: inline;
    float: left;
    padding-bottom: 5px;

}

.column-third {
    width: 33%;
    float: left;
    display: inline;
    padding-bottom: 5px;
}

.column-half {
    width: 50%;
    float: left;
    display: inline;
    padding-bottom: 5px;
}

.column-threefourth {
    width: 75%;
    float: left;
    display: inline;
    padding-bottom: 5px;
}

.column-whole {
    width: 100%;
    float: left;
    display: inline;
    padding-bottom: 5px;
}

.error {
    border: solid 2px red;
    background-color: #eca3a3;

}

.error div {
    padding: 10px;
}
	
