<html>
<head>
	<link rel= "stylesheet" href="../content/css/index.css" />	
</head>
<h1 id="heading" align="center"></h1> 
<div class="top-right-corner button" ng-show="user != null">
	<button type="button" style="font-size: 16px; border-radius:4px;" ng-click="logout()">Logout</button>
	<a style="font-size: 16px; border-radius:4px; color:white;" ng-href="#!add">Add Item</a>
</div>

<div id="filters" style="width:30%; display: block;"> 
	<div id="ck-button" ng-repeat="tag in tags" >
	<label> 
		<input type="checkbox" ng-value="true" ng-click="tagIt(tag);"/><span>{{ tag }} </span> 
	</label>

	</div>
</div>

<br/>


<div id="sort" ng-init="sort = 'createdDate' " style="color:white;" >
	Sort by: 
	<select name="select-sort" ng-model="sort">
		<option ng-value="'createdDate'">Most Recently Created</option>
		<option ng-value="'-createdDate'">Least Recently Created</option>
		<option ng-value="'-priority'">Priority (Highest)</option>
		<option ng-value="'priority'">Priority (Lowest)</option>
		<option ng-value="'dueDate'">Due Date (newest first)</option>
		<option ng-value="'shared'">Shared First </option>
	
	</select>
</div>

<br/>
<br/>

	<hr/>
<div id="list" ng-show="!sharing">

	<div  ng-style="item.shared ? {'background-color':'yellow'} : {}" id="list-item" class="transbox" ng-repeat="item in todo | orderBy: sort track by item.id" >
	
		<p>Name: {{ item.name }}</p>
		<p>Description: {{ item.description }} </p>
		<p ng-show="item.location.length > 0">Location: <a ng-href="http://maps.google.com/?q={{ item.location }}">{{ item.location }}</a></p>
		<p ng-show="item.dueDate.length > 0">Due Date: {{ item.dueDate | date:'medium' }} </p>
		<p ng-show="item.priority > 0">Priority: {{ item.priority_name }}</p>
		<p ng-show="item.tags.length > 0">
			Tags: <span ng-repeat="tag in item.tags">
				{{ tag + " "}}
			</span> 
		</p>
		<p>
			<a ng-href="#!update/{{item.id}}"> Update </a> 
			<button ng-click="share(item)"> Share </button>
			<button ng-hide="item.shared" type="button" ng-click="delete(item.id)">Delete</button>
		
		</p>
		
	</div>



</div>
	<div style="width:70%; margin: auto; color: white;" id="list share"  ng-show="sharing">
		<div class="column-half" ng-show="sharedUsers.length == 0" style="padding:5px;">
			Isn't shared with anyone.
		</div>
		<div class="column-half" ng-hide="sharedUsers.length == 0">
			List Shared With:
			<ul>
				<li ng-repeat="user in sharedUsers track by $index"> {{ user.name}} <button type="button" ng-click="removeShare(user.id)">Remove</button></li>
			</ul>
		</div>
		<div class="column-half" ng-hide="usersToShare.length == 0">
			<label class="column-fourth">Share With </label>
			<select ng-model="sharedUser">
				<option  ng-repeat="user in usersToShare track by $index" ng-value="user.id">{{ user.name }}</option>		
			</select>
			<button type="button" ng-click="saveShare()">Save!</button>
			
		</div>
		<div class="column-half" ng-show="usersToShare.length == 0">
			<label>No users to share with!</label>
		</div>
		
		<div class="row">
			<button type="button" ng-click="sharing = false">Cancel</button>
		</div>
	</div>
	
</html>
