
<div id="login" ng-app="Listastic" ng-controller="loginController">
	<form ng-submit="login">
		<h2>Sign In</h2>
		<input type="text" id="username" placeholder="Enter Username" ng-model="login.username" />
		<input type="password" id="password" placeholder="Enter Password" ng-model="login.password"/>
		<input type="button" id="login-btn" value="Sign In" ng-click="go()" />
	</form>
	<a ng-href="#!register"><p style="text-align:center">Register Here</a>
	<a ng-href="#!forgetpassword"><p style="text-align:center">Forget Password?</a>
</div>
