<div class="content">
    <div class="top-right-corner button" ng-show="user != null">
        <button type="button" style="font-size: 16px; border-radius:4px;">Logout</button>

    </div>

    <form name="update">
        <div class="row">
            <div class="column-fourth">
                <button class=""
                        type="button"
                        ng-click="update.$valid && go()"
                        name="Save"> Save
                </button>
                <button class=""
                        type="button"
                        name="cancel"
                        ng-click="cancel()">
                    Cancel
                </button>
            </div>
            <br/>
        </div>
        <hr>

        <div class="content">
            <div class="row">
                <label class="column-fourth">Name</label>
                <input type="text"
                       name="name" ng-class="{ error: !update.$valid }"
                       ng-model="list.name" placeholder="Task Name"
                       required/>
            </div>

            <div class="row">
                <label class="column-fourth">Priority</label>
                <select ng-model="list.priority">
                    <option ng-repeat="priority in priorities" ng-value="priority.numeric">{{ priority.name }}</option>
                </select>
            </div>

            <div class="row">
                <label class="column-fourth">Due date</label>

                <input class="form-control"
                       ng-model-options="{ updateOn: 'blur' }"
                       placeholder="Pick a due date"
                       moment-picker="list.due_date"
                       start-date="list.dueDate"
                       ng-model="list.due_date">

            </div>

            <div class="row">
                <label class="column-fourth">Location</label>
                <input type="text"
                       name="location" ng-model="list.location" placeholder="Location? i.e.: Grocery Store, Gym"
                />
            </div>


            <div class="row">
                <label class="column-fourth">Description</label>

                <textarea style="width:300px; height:200px"
                          name="description"
                          ng-model="list.description">
			</textarea>
            </div>

    </form>
</div>
</div>
